* {
  margin: 0px;
  font-family: sans-serif;
  color: white;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}

video {
  width: 100%;
  filter: brightness(20%);
}
body::-webkit-scrollbar {
  display: none;
}

#banner {
  position: absolute;
  color: white;
  top: 300px;
  right: 35%;
  z-index: 100;
  text-align: center;
  justify-content: center;
}

#container {
  width: 1800px;
  background-color: #222;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  height: 2700px;
}

#job-info .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 450px;
  gap: 20px;
  column-gap: 20px;
  row-gap: 100px;
  justify-content: center;
}
#job-info .container div {
  border-radius: 10px 10px 10px 10px;
  background-color: #333;
  height: 550px;
  width: 500px;
}
#job-info .container div h1 {
  text-align: center;
  margin-top: 10px;
}
.h1 {
  font-size: 30px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#about .container #target {
  display: flex;
  gap: 60px;
}
#what {
  font-size: 60px;
}
#about .container #target h1 {
  background-image: linear-gradient(45deg, cornflowerblue, green);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.info-text {
  width: 400px;
  text-align: justify;
  margin-left: 40px;
  font-size: 17.5px;
}

.imarge {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
}

#colorrestoration {
  background-image: linear-gradient(45deg, red, yellow);
}
.nice {
  background-image: linear-gradient(45deg, cornflowerblue, blue);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#prompts {
  background-image: linear-gradient(45deg, purple, pink);
}
#imagerescaling {
  background-image: linear-gradient(45deg, darkgreen, lime);
}
#backgroundrestoration {
  background-image: linear-gradient(45deg, cornflowerblue, yellow);
}
#info-text {
  color: gray;
  text-align: justify;
}
#videotemplates {
  background-image: linear-gradient(45deg, white, orange);
}
#scriptwriter {
  background-image: linear-gradient(45deg, brown, lime);
}
#layout {
  text-align: center;
  margin-top: -10px;
}
#germanefficieny {
  background-image: linear-gradient(45deg, cornflowerblue, green);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 20px;
}
#about .container #target #nicer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button {
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  font-size: 30px;
  width: 300px;
}
